/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}
.service_menu{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 1; */
    list-style-type: none;
}
.service_link{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.service_link:hover{
    background-color: #00BAFC;
}
.dropdown:hover .service_menu{
    display: block;
}
/* .dropdown:hover .dropbtn{
    text-decoration: underline;
} */
















body {
    /* font-family: 'Mulish',sans-serif; */
    margin: 0;
    padding: 0;
}
.container{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
.header{
    height: 56px;
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    /* padding: 20px 0; */
    box-shadow: 0 1px 6px 1px rgb(196, 187, 187);
}
.pixer{
    margin-top: 15px;
}
.menu{
    list-style-type: none;
    display: flex;
}
.menu_item{
    margin: 0 16px;
    color: black;
    /* margin-left: 20px; */
}
.menu_link{
    text-decoration: none;
    color: black;
}
.menu_link:hover{
    color: #00BAFC;
}
.btn{
    border-radius: 5px;
    border: 1px solid #00BAFC;
    background-color: #00BAFC;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-right: 30px;
}
.btn:hover{
    box-shadow: 10px 10px  10px #a1c0cc;
    color: white;
}
.promo{
    display: flex;
    margin-left: 80px;
}
.promo-text{
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
    margin-top: 98px;
}
.youtube{
    width: 458px;
    height: 258px;
    border-radius: 5px;
    margin-top: 98px;
    margin-left: 100px;
}
.promo-btn{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(71, 244, 250);
    color: white;
    text-decoration: none;
}
.text{
    line-height: 25px;
}
.wrapper{
    margin-top: 100px;
    text-align: center;
    line-height: 25px;
}
.box{
    list-style-type: none;
    display: flex;
    margin-left: 70px;
    /* justify-content: space-between; */
}
.box_item{
    /* margin-left: 100px; */
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(219, 213, 213);
    width: 320px;
    height: 260px;
    margin-top: 30px;
    margin-left: 30px;
}
.box_item:hover{
    background-color: rgb(208, 212, 210);
    box-shadow: 10px 10px 20px grey;
}
.box_link{
    text-decoration: none;
    color: black;
    text-align: center;
}
.box-1{
    display: flex;
    list-style-type: none;
    margin-left: 160px;
    /* justify-content: space-evenly; */
}
.box-img{
    margin-top: 25px;
}
.button{
    color: #00BAFC;
    margin-right: 100px;
    text-decoration: none;
}
.heading{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.content-text{
    line-height: 20px;
    text-align: center;
}
.requirements{
    display: flex;
    margin-left: 250px;
}
.requirements-heading{
    margin-top: 100px;
    margin-left: 30px;
}
.requirements-text{
    margin-left: 30px;
    margin-top: 10px;
    line-height: 20px;
}
.solving{
    display: flex;
}
.solving-nav{
    margin-top: 90px;
    margin-left: 250px;
    line-height: 25px;
}
.solving-img{
    margin-left: 0px;
}
.project{
    display: flex;
    margin-left: 250px;
}
.project-nav{
    margin-top: 100px;
    line-height: 30px;
}
.quality{
    display: flex;
    margin-left: 250px;
}
.quality-nav{
    margin-top: 90px;
    line-height: 30px;
}
.support{
    display: flex;
    margin-left: 250px;
    margin-bottom: 40px;
}
.support-nav{
    margin-top: 100px;
    line-height: 30px;
}
.btn-delivery{
    border-radius: 5px;
    border: 1px solid #00BAFC;
    background-color: #00BAFC;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-left: 600px;
}




/* Order */
.section-order{
    margin-top: 40px;
    background-color: #00BAFC;
    padding: 54px 0;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 348px;
    background-color: white;
    padding: 24px 0;
    margin: 0 auto;
    border-radius: 5px;
}
.form>input{
    padding-left: 15px;
    width: 85%;
    font-size: 20px;
    border-radius: 5px;
    height: 40px;
    color: black;
    border: 1px solid rgb(189, 180, 180);
    margin-bottom: 16px;
}
.form>input:focus{
    outline: none;
}
.form>input::placeholder{
    color: black;
}
.form>select{
    width: 85%;
    padding: 0 8px;
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
}
.submit-button{
    background-color: #00BAFC;
    padding: 8px 16px;
    width: 167px;
    color: white;
    margin-top: 16px;
    border-color: #00BAFC;
    border-radius: 5px;
    font-size: 18px;
}
.submit-button:focus{
    outline: none;
}
.order-text{
    text-align: center;
    color: white;
    margin-bottom: 20px;
    line-height: 20px;
}
.order-heading{
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}
.input, .select{
    background-color: #F3F3F3;
    width: 300px;
    height: 56px;
}
.input-img{
    background-image: url('/img/selector-icon.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 276px;
}

/* Footer */
.footer{
    background-color: black;
    color: white;
    height: 400px;
}
.footer-section{
    line-height: 20px;
    transform: translateY(100px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_menu{
    display: flex;
    margin-left: 200px;
    list-style-type: none;
}
.footer_menu_item{
    margin-left: 30px;
}
.footer-menu{
    list-style-type: none;
}
.footer-menu-link{
    text-decoration: none;
    color: white;
    line-height: 30px;
    margin-left: -38px;
}
.footer-menu-item{
    line-height: 30px;
    margin-right: 150px;
}
.footer-img{
    transform: translateY(8px);
    margin-right: 10px;
}
.footer-h2{
    margin-bottom: 20px;
}
.footer-nav{
    transform: translateY(-40px);
    line-height: 25px;
}



/* Xizmatlar */
.xizmatlar{
    margin-top: 70px;
    line-height: 25px;
    text-align: center;
}
.list{
    background-color: #F4F4F4;
    height: 2600px;
    transform: translateY(40px);
}
.list_menu{
    list-style-type: none;
    margin-left: 250px;
    transform: translateY(100px);
}
.list_item{
    display: flex;
    width: 804px;
    height: 378px;
    border: 1px solid white;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 10px 10px 20px grey;
    margin-bottom: 100px;
}
.list_item:hover{
    box-shadow: 20px 20px 10px 10px grey;
    background-color: rgb(248, 246, 246);
}
.list_nav{
    margin-left: 50px;
    line-height: 25px;
    margin-top: -40px;
}
.menu_list{
    margin-left: -40px;
    list-style-type: none;
}
.list-btn{
    color: #00BAFC;
}